<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338256818032-fc0agj4d7m1p00nnjbd6be7ks7ps6te1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338256818032-fc0agj4d7m1p00nnjbd6be7ks7ps6te1</string>
	<key>API_KEY</key>
	<string>AIzaSyAAGwcSZ39oYZRMHehwc7ByfargdrENGuY</string>
	<key>GCM_SENDER_ID</key>
	<string>338256818032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.register</string>
	<key>PROJECT_ID</key>
	<string>calerdar-date</string>
	<key>STORAGE_BUCKET</key>
	<string>calerdar-date.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338256818032:ios:3e38fb97fe5e938f6029b5</string>
</dict>
</plist>